<div class="studiosContainer">
    <h4>Studios</h4>
    <hr class="artropy-hr">
    <mat-card class="studioRow">
        <mat-card-header>
            <mat-card-title>Ruby Perez</mat-card-title>
            <mat-card-subtitle>Quote</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="studiosRow">
            <mat-card class="studioItem">
                <img class='image-fluid' src='../assets/images/imageTwo.jpg'>
            </mat-card>
            <mat-card class="studioItem">
                <img class='image-fluid' src='../assets/images/imageTwo.jpg'>
            </mat-card>
            <mat-card class="studioItem">
                <img class='image-fluid' src='../assets/images/imageTwo.jpg'>
            </mat-card>
            <mat-card class="studioItem">
                <img class='image-fluid' src='../assets/images/imageTwo.jpg'>
            </mat-card>
            <mat-card class="studioItem">
                <img class='image-fluid' src='../assets/images/imageTwo.jpg'>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>