.image-fluid {
    height:auto;
    width:100%;
}

// .mat-card{
//     padding:6px !important; 
//     margin-top: 5px;
//     margin-bottom:5px;
// }

// @media (min-width: 500px) {
//     .studiosContainer {
//         display: grid;
//         justify-content: stretch;	
//         grid-template-columns: 100%;
//         grid-row-gap: 5px;
//         grid-template-rows:  repeat(auto-fit, minmax(200px,1fr));;
//         grid-template-areas: none;
//         grid-row-gap: 30px;
//         grid-column-gap: 5px;
//         // grid-gap: 10px;
//         align-items: stretch;
//     }
// }
.studiosContainer {
    display: grid;
    justify-content: stretch;	
    grid-template-columns: 100%;
    grid-row-gap: 5px;
    grid-template-rows:  repeat(auto-fit, minmax(200px,1fr));;
    // grid-template-areas: none;
    grid-row-gap: 30px;
    grid-column-gap: 5px;
    // grid-gap: 10px;
    align-items: stretch;
}

.studiosRow {
    display: grid;
    justify-content: stretch;	
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-row-gap: 5px;
    grid-template-rows:  100%;
    // grid-template-areas: "art art art art art";
    grid-row-gap: 30px;
    grid-column-gap: 5px;
    // grid-gap: 10px;
    align-items: stretch;
}

