<p>
  login-page works!
</p>


<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password Verify" value="">
  </mat-form-field>
</form>
