.loginContainer{
  display:grid;
  grid-template-columns: 50% 60%;
  grid-template-rows: 20% 80%;
  grid-template-areas: 
  "loginHeader loginSignin"
  "loginInfo loginSignin";
}

.loginHeader{
  grid-area: loginHeader;

}

.loginInfo{
  grid-area: loginInfo;
}

.loginSignin{
  grid-area: loginSignin;
}

.loginInput{
  width:100%;
}

.loginForm{
  width:100%;
}

.mat-ink-bar {

  background-color:#0ACBCB !important;
}

.youtubeButton{
  background-color: #cc181e;
  color:white;
}

.facebookButton{
  background-color:#3B5998;
  color:white;

}