.image-fluid{
  height:auto;
  width:100%;
}

button:focus {outline:none; }
  
.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.comment-button-row {
  display: flex;
  align-items: flex-end;
  /* justify-content: space-around; */
  margin-top: 10px;
}

.image-page-container{
  display:grid;
  grid-template-columns: auto 250px;
  grid-template-rows: 150px 1000px auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: "header tags"
  "image relatedImages"
  "discussion relatedImages";
  padding: 0px;

}

.image-page-tags{
  grid-area: tags;
  height:100%;
  width:100%;
}

.image-page-image{
  grid-area: image;
  height:100%;
  width:100%;
}

.image-page-disscusion{
  grid-area: discussion;
  height:100%;
  width:100%;
}

.image-page-header{
  grid-area: header;
  height:100%;
  width:100%;
}

.image-page-related{
  grid-area: relatedImages;
  height:100%;
  width:100%;
}

.mat-card{
  height:100%;
  padding:0px;
}


.mat-card-content{
  margin:5px;
}
.image-card{
  max-height:100%;
}
.imageInput{

  width:100%;
}

.image-page-card-content {
  display:grid;
  height:100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 25% 25%;
  grid-template-areas: "imageName imageActions"
  "imageArtist imageViews"
  ". imageLikes";
}

.imageName{
  grid-area: imageName;
  font-size: 36px;


}
.imageActions{
  grid-area: imageActions;
  justify-self: end;
}

.imageArtist{
  grid-area: imageArtist;
}

.imageViews{
  grid-area:imageViews;
  justify-self: end;

}

.imageLikes{
  grid-area:imageLikes;
  justify-self: end;

}

.image-page-image {
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
}