<mat-sidenav-container class="example-sidenav-fab-container leftNavigation" style="height:1000px; left:0;">
  <mat-sidenav #sidenav mode="side" opened="true" class='sidenav'>
    <mat-list>
      <mat-list-item>
        <button routerLink="/originals" routerLinkActive="active" mat-button class=""> Originals
          <img src='/assets/svg-material-icons/ic_brush_white_24px.svg'>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/studios" routerLinkActive="active" mat-button class="">Studios
          <img src='/assets/svg-material-icons/ic_payment_black_24px.svg'> </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/reimaginations" routerLinkActive="active" mat-button class="">Re-imaginations
          <img src='/assets/svg-material-icons/ic_autorenew_white_24px.svg'> </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/trending" routerLinkActive="active" mat-button class="">Trending
          <img src='/assets/svg-material-icons/ic_trending_up_white_24px.svg'> </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/masterworks" routerLinkActive="active" mat-button class="">Masterworks
          <img src='/assets/svg-material-icons/ic_payment_black_24px.svg'> </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/shop" routerLinkActive="active" mat-button class="">Shop
          <img src='/assets/svg-material-icons/ic_shop_black_24px.svg'> </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/history" routerLinkActive="active" mat-button class="">History
          <img src='/assets/svg-material-icons/ic_history_white_24px.svg'> </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/liked" routerLinkActive="active" mat-button class="">Liked
          <img src='/assets/svg-material-icons/ic_star_white_24px.svg'> </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/following" routerLinkActive="active" mat-button class="">Following
          <img src='/assets/svg-material-icons/ic_people_white_24px.svg'> </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/events" routerLinkActive="active" mat-button class="">Events
          <img src='/assets/svg-material-icons/ic_event_white_24px.svg'> </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/videos" routerLinkActive="active" mat-button class="">Videos
          <img src='/assets/svg-material-icons/ic_video_library_white_24px.svg'> </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/live" routerLinkActive="active" mat-button class="">Live
          <img src='/assets/svg-material-icons/ic_payment_black_24px.svg'> </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/Sponsers" routerLinkActive="active" mat-button class="">Sponsers
          <img src='/assets/svg-material-icons/ic_payment_black_24px.svg'> </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-container class="example-sidenav-fab-container rightOptions" style="height:1000px; left:0;">
    <mat-sidenav align="end" #sidenavright mode="side" opened="false">
      <mat-list>
        <mat-list-item>
          <button routerLink="/socialMedia" routerLinkActive="active" mat-button class="">
            <img src='/assets/svg-material-icons/ic_settings_white_24px.svg'>Social Media</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/Portfolio" routerLinkActive="active" mat-button class="">
            <img src='/assets/svg-material-icons/ic_settings_white_24px.svg'>Portfolio</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/notifications" routerLinkActive="active" mat-button class="">
            <img src='/assets/svg-material-icons/ic_add_alert_white_24px.svg'> Notifications</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/upload" routerLinkActive="active" mat-button class="">
            <img src='/assets/svg-material-icons/ic_file_upload_black_24px.svg'>Upload</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/transactionHistory" routerLinkActive="active" mat-button class="">
            <img src='/assets/svg-material-icons/ic_settings_white_24px.svg'>Transaction History</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/settings" routerLinkActive="active" mat-button class="">
            <img src='/assets/svg-material-icons/ic_settings_white_24px.svg'> Settings </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/copyRightArtWork" routerLinkActive="active" mat-button class="">
            <img src='/assets/svg-material-icons/ic_copyright_white_24px.svg'>Copyright Artwork</button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/supportTickets" routerLinkActive="active" mat-button class="">
            <img src='/assets/svg-material-icons/ic_settings_white_24px.svg'>Support Tickets</button>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
  </mat-sidenav-container>