<div class="leftNav">
  <mat-sidenav-container class="leftNavigation">
    <mat-sidenav #sidenav mode="side" opened="true" class='sidenav'>
      <mat-list class="sidenav">
        <mat-list-item>
            <button routerLink="/feed" routerLinkActive="active" mat-button class="navButton">
              <img src='/assets/svg-material-icons/ic_brush_black_24px.svg' alt="Feed Icon">
              <span class="navButtonText">
                Art Feed
              </span>
            </button>
          </mat-list-item>
        <mat-list-item>
          <button routerLink="/originals" routerLinkActive="active" mat-button class="navButton">
            <img src='/assets/svg-material-icons/ic_brush_black_24px.svg' alt="Originals Icon">
            <span class="navButtonText">
              Originals
            </span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/studios" routerLinkActive="active" mat-button class="navButton">
            <img src='/assets/svg-material-icons/ic_payment_black_24px.svg'>
            <span class="navButtonText">
              Studios
            </span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/reimaginations" routerLinkActive="active" mat-button class="navButton">
            <img class="navButtonIcon" src='/assets/svg-material-icons/ic_autorenew_black_24px.svg'>
            <span class="navButtonText">

              Re-imaginations
            </span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/trending" routerLinkActive="active" mat-button class="navButton">
            <img class="navButtonIcon" src='/assets/svg-material-icons/ic_trending_up_black_24px.svg'>
            <span class="navButtonText">
              Trending
            </span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/masterworks" routerLinkActive="active" mat-button class="navButton">
            <img class="navButtonIcon" src='/assets/svg-material-icons/ic_payment_black_24px.svg'>
            <span class="navButtonText">

              Masterworks
            </span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/shop" routerLinkActive="active" mat-button class="navButton">
            <img class="navButtonIcon" src='/assets/svg-material-icons/ic_shop_black_24px.svg'>
            <span class="navButtonText">
              Shop
            </span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/history" routerLinkActive="active" mat-button class="navButton">

            <img class="navButtonIcon" src='/assets/svg-material-icons/ic_history_black_24px.svg'>
            <span class="navButtonText"> History
            </span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/liked" routerLinkActive="active" mat-button class="navButton">
            <img class="navButtonIcon" src='/assets/svg-material-icons/ic_star_border_black_24px.svg'>
            <span class="navButtonText">
              Liked
            </span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/following" routerLinkActive="active" mat-button class="navButton">
            <img class="navButtonIcon" src='/assets/svg-material-icons/ic_people_black_24px.svg'>
            <span class="navButtonText">
              Following
            </span>
          </button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="/followers" routerLinkActive="active" mat-button class="navButton">
              <img class="navButtonIcon" src='/assets/svg-material-icons/ic_people_black_24px.svg'>
              <span class="navButtonText">
                Followers
              </span>
            </button>
          </mat-list-item>
        <mat-list-item>
          <button routerLink="/events" routerLinkActive="active" mat-button class="navButton">
            <img class="navButtonIcon" src='/assets/svg-material-icons/ic_event_black_24px.svg'>
            <span class="navButtonText">
              Events
            </span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/videos" routerLinkActive="active" mat-button class="navButton">
            <img class="navButtonIcon" src='/assets/svg-material-icons/ic_video_library_black_24px.svg'>
            <span class="navButtonText">
              Videos
            </span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/live" routerLinkActive="active" mat-button class="navButton">
            <img class="navButtonIcon" src='/assets/svg-material-icons/ic_payment_black_24px.svg'>
            <span class="navButtonText">
              Live
            </span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button routerLink="/Sponsers" routerLinkActive="active" mat-button class="navButton">
            <img class="navButtonIcon" src='/assets/svg-material-icons/ic_payment_black_24px.svg'>
            <span class="navButtonText">
              Sponsers
            </span>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>