.dashboard-analytics{
    display: grid;
    justify-content: stretch;	
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    align-items: stretch;
    padding-top:40px;
    grid-template-areas: "today-analytics" 
    "overall-analytics";
  }
  
  .today-analytics{
    grid-area:today-analytics;
  }

  .overall-analytics{
    grid-area: overall-analytics;
  }
  

  .analytics-card{
    margin: 0px !important;
    padding: 0px !important;
  }