@import '../../assets/responsive-theme/artropy-main-theme.scss';

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.header-container > img{
  color:white;

}

.button-login {
  color:white;
  background-color:  #8a0044;
  margin: 5px;
}

.logo{
  color:white;
  font-size:16px;
  margin: 5px;
}

.mat-toolbar{
  background-color: $artropy-primary-color;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height:50px;
  z-index:100;
  left: 0;
}

md-toolbar {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
button:focus {outline:0;}



.spacer
{
  flex: 1 1 auto;
}


.headerBodyBreak{

  width: 30%;
  height: 45px;

}
.flexContainer {
  display: flex; 
  flex-direction: row;
  /* align-items: center; */
  width:100%; 
  
}
.flexItemOne {
  /* flex-grow: 1;
  align-self: flex-start; */

  margin: auto;
  align-self: flex-start;
  /* width:100%; */
}

.flexItemTwo {
  /* flex-grow: 1;
  align-self: auto; */
  margin: auto;
  width:500px;
  align-self: flex-start;
}

.flexItemThree {
  /* flex-grow: 1; */
  align-self: flex-end;
  margin: auto;
  /* width:100%; */
}

.leftNavigation button {
  width: 100%;


}

.header-container {
  display:grid;
  grid-template-columns: 200px 300px auto;
  // grid-row-gap: 5px;
  grid-template-rows: 100%;
  grid-template-areas: "leftHeader searchBar rightHeader";
}

.header-left{
  grid-area: leftHeader;
}

.search-bar{
  grid-area: searchBar;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.searchBar{
  grid-area:searchBar;
}
.header-right{
  grid-area: rightHeader;
  align-self: end;
}

.container-fluid {
  background-color:white;
  }

  .mat-toolbar > button{
    background-color: #0ACBCB;
  }

  .mat-toolbar > button .loginButton{
    color:white;
  }

.loginButton{
color:white;
}

  .searchBox {
    flex-grow: 3;
    flex-basis: 1000px;
    flex-shrink: inherit;
  }

  .rightOptions > img {
    float:left;

  }

  .sidenav{

    background-color: white;
  }


  button > img {
    float:right;
    vertical-align:middle;
  }
