.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

h3 {
  vertical-align: middle;
}

button {
  color:white;
  background-color:  #82124B;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.button-login {
  color:white;
  background-color:  #8a0044;
  margin: 5px;
}

.logo{
  color:white;
  margin: 5px;
}

.mat-toolbar{
  background-color:  #660033;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height:50px;
  z-index:100;
  left: 0;
}

md-toolbar {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


.spacer
{
  flex: 1 1 auto;
}


.headerBodyBreak{

  width: 30%;
  height: 45px;

}
.flexContainer {
  display: flex; 
  flex-direction: row;
  /* align-items: center; */
  width:100%; 
  
}
.flexItemOne {
  /* flex-grow: 1;
  align-self: flex-start; */

  margin: auto;
  align-self: flex-start;
  /* width:100%; */
}

.flexItemTwo {
  /* flex-grow: 1;
  align-self: auto; */
  margin: auto;
  width:500px;
  align-self: flex-start;
}

.flexItemThree {
  /* flex-grow: 1; */
  align-self: flex-end;
  margin: auto;
  /* width:100%; */
}

.leftNavigation button {
  width: 100%;


}

.container {
background-color:white;
}


.container-fluid {
  background-color:white;
  }

  .mat-toolbar > button{
    background-color: #660033;
  }

  .mat-toolbar > button .loginButton{
    background-color:#8a0044;
  }

  .searchBox {
    flex-grow: 3;
    flex-basis: 1000px;
    flex-shrink: inherit;
  }