@import '../../../assets/responsive-theme/artropy-main-theme.scss';

.following-page{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    justify-content: stretch;	
    align-items: stretch;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

.following-page-item{


}

.mat-card .following-card{
    margin:0px !important;
    padding:0px !important;
}