<div class='homeGrid'>
    <div class='headBanner'>
        <ngx-carousel [inputs]="carouselOne" (carouselLoad)="myfunc($event)" class="banner">
            <ngx-item NgxCarouselItem *ngFor="let original of originals let i = index;">
                <div style="background: no-repeat fixed center url('../assets/images/imageOne.jpg');" class="bannerStyle">
                    <h1>{{i}}</h1>
                </div>
            </ngx-item>
            <button NgxCarouselPrev class='leftRs'>&lt;</button>
            <button NgxCarouselNext class='rightRs'>&gt;</button>
        </ngx-carousel>
    </div>
    <div class='featured'>
        <div class='featured-products'>
            <div class='featured-2d-creation'>
                <mat-card class='image-page-card'>
                    <mat-card-header>Earn on your artwork</mat-card-header>
                    <mat-card-content>
                       Artwork monetizing 
                    </mat-card-content>
                </mat-card>
            </div> 
        </div>
        <div class='community'>
            <div class='featured-original'>
                <mat-card class='image-page-card'>
                    <mat-card-header>Share the love and passion</mat-card-header>
                    <mat-card-content>
                        Drawing and painting not your thing? Artropy 3D takes your designs and shares it through out the world with our state of
                        the art 3d printing warehouses and 3D design tools.
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class='home-supplies'>
        <mat-card class='image-page-card'>
            <mat-card-header>The right tools make the difference.</mat-card-header>
            <mat-card-content>
                Painting, sketching, digital design. Take a look at our warehouse a find the right tools to pursue your passion.
            </mat-card-content>
        </mat-card>
    </div>
</div>