$extended: 1500px;
$desktop: 1000px;
$tablet: 500px;
$mobile: 300px;

$artropy-primary-color : #F46A4E;
$artropy-secondary-color: #A3586D;
$artropy-color-3: #5C4A72;
$artropy-color-4: #F3B05A;
$artropy-color-5: #F4874B;
$artropy-background-color: #f1f1f1; 

$artropy-margin: 15px;
$artropy-padding: 15px;

hr.artropy-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $artropy-primary-color, rgba(0, 0, 0, 0));
}

