@import '../../../assets/responsive-theme/artropy-main-theme.scss';

.grid-originals-results {
    display: grid;
    justify-content: stretch;	
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-template-rows: 300px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    align-items: stretch;
}

.mat-card{
    padding: 0px 0px 0px 0px !important;
    height:300px; // Shouldnt need? Display grid row height not fixing 
    display:grid;
    grid-template-areas: "original-image"
    "original-info";
    grid-template-rows: 80% 20%;

}

.original-card{
    height:100%;
    width:100%;
}

.original-card:hover { 
    transform: scale(1.01); 
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    //cursor: pointer;
}

.mat-card-content{
  background-image: url('assets/images/imageOne.jpg');
    background-size: cover;
}

.original-image{
    grid-area: original-image;
}

.original-info {
    grid-area: original-info;
}