.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

md-toolbar.mat-toolbar {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  padding: 0 16px 0 0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  height:1px;
}

h3 {
  vertical-align: middle;
}

button {
  color:white;
  background-color:  #660033;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.button-login {
  color:white;
  background-color:  #8a0044;
  margin: 5px;
}

.mat-toolbar{
  background-color:  #660033;

}

md-toolbar {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

 

