<div class='row no-gutters'>
    <mat-toolbar class='col-md-12'>
        <span class='imageName'>Rain </span>
        <span class='artistName'>Ruby Perez</span>
        <span class="example-spacer"></span>
        <div class="button-row">
            <button mat-raised-button color="primary"><img src='/assets/svg-material-icons/ic_add_shopping_cart_black_24px.svg'></button>
            <button mat-raised-button color="primary">Download</button>
            <button mat-raised-button color="primary">Donate</button>
            <button mat-raised-button color="accent">Share</button>
            <button mat-raised-button color="warn">Like</button>
            <!-- <iron-icon icon="maps:directions-bus"></iron-icon>             -->
        </div>
    </mat-toolbar>
    <mat-toolbar class='col-md-12'>
        <span class='artistName'>Original Resolution 1920x1080 Ratio 16:9</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
</div>
<div class='row'>
    <div class='col-sm-6'>
        <mat-card class="example-card">
            <mat-card-content>
                <img src='../assets/images/imageOne.jpg' class='image-fluid'>
            </mat-card-content>
        </mat-card>
    </div>
    <div class='col-sm-6'>Comments</div>
</div>