<div class='row'>
    <mat-toolbar class='col-md-12'>
        <mat-toolbar-row>
            <div class="button-row">
                <button mat-icon-button aria-pressed="false">
                    <img src='/assets/svg-material-icons/ic_add_shopping_cart_black_24px.svg'>
                </button>
                <button mat-icon-button aria-pressed="false">
                    <img src='/assets/svg-material-icons/ic_file_download_black_24px.svg'>
                </button>
                <button mat-icon-button aria-pressed="false">
                    <img src='/assets/svg-material-icons/ic_card_giftcard_black_24px.svg'>
                </button>
                <button mat-icon-button aria-pressed="false">
                    <img src='/assets/svg-material-icons/ic_share_black_24px.svg'>
                </button>
                <button mat-icon-button aria-pressed="false">
                    <img src='/assets/svg-material-icons/ic_star_border_black_24px.svg'>
                </button>
                <button mat-icon-button aria-pressed="false">
                    <img src='/assets/svg-material-icons/ic_zoom_out_map_black_24px.svg'>
                </button>
            </div>
            <span class="example-spacer"></span>
            <h1 class=''>Rain</h1>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span class="example-spacer"></span>
            <mat-chip-list>
                <mat-chip color="accent" selected="true" class='image-ratio' matTooltip="Image Ratio" bottom="position">16:9</mat-chip>
                <mat-chip color="primary" selected="true" class='image-resolution' matTooltip="Original Image Resolution" bottom="position">1920X1080</mat-chip>
            </mat-chip-list>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class='row'>
    <div class='col-sm-6'>
        <mat-card class="example-card">
            <mat-card-content>
                <img src='../assets/images/imageOne.jpg' class='image-fluid'>
            </mat-card-content>
        </mat-card>
    </div>
    <div class='col-sm-6'>
        <mat-form-field style='width:100%;'>
            <textarea matInput placeholder="Comment" maxlength="400" #comment matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
            <mat-hint align="start">
                <strong>Don't disclose personal info</strong>
            </mat-hint>
            <mat-hint align="end">{{comment.value.length}} / 400</mat-hint>
        </mat-form-field>
        <div class="comment-button-row">
            <button mat-raised-button>Cancel</button>
            <button mat-raised-button color="primary">Post</button>
        </div>
    </div>
</div>