button:focus {outline:none !important; }
  

input:focus {
    outline:none !important;
}

.container {
    display: grid;
    justify-content: stretch;	
    grid-template-columns: 200px auto;
    grid-row-gap: 5px;
    grid-template-rows: 50px auto 100px;
    grid-template-areas: "header header"
                            "sidebar main"
                            "footer footer";
}

.item-header {
    grid-area: header;
  }
  .item-main {
    grid-area: main;
  }
  .item-side-bar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-y: hidden;
    padding-top: 50px;
  }
  .item-footer {
    grid-area: footer;
  }


  
#style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}