button:focus {outline:none !important; }
  
.image-page-card{
  height:100%;
}

input:focus {
    outline:none !important;
}

.artropyContainer {
    display: grid;
    justify-content: stretch;	
    grid-template-columns: 200px auto;
    grid-row-gap: 0px;
    grid-template-rows: 50px minmax(100vh, auto) 100px;
    grid-template-areas: "header header"
                            "sidebar main"
                            "sidebar footer";
}

.item-header {
    grid-area: header;
}
  .item-main {
    grid-area: main;
    padding-top:8px;
    padding-left:20px;
    padding-right:20px;
    background-color:	#f1f1f1;
  }
  .item-side-bar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-y: hidden; // hide vertical
    overflow-x: hidden; // hide horizontal
    padding-top: 50px;
    grid-area:sidebar;
  }
  .item-footer {
    grid-area: footer;
  }

.body{
  background-color:gray !important;
}