<div class='history-header'>
    <div class="history-type">
        <button class='artwork-filter' mat-raised-button routerLink="artwork" routerLinkActive="active">Artwork</button>
        <button mat-raised-button routerLink="search">Search History</button>
        <button mat-raised-button routerLink="donations">Donations</button>
        <button mat-raised-button routerLink="purchases">Purchases</button>
        <button mat-raised-button routerLink="comments">Comments</button>
    </div>
    <div class="history-clear">
        <button mat-raised-button color="warn">Clear History</button>
    </div>
</div>
<hr class='artropy-hr'>
<div class='history-page'>
    <router-outlet></router-outlet>
</div>