<div>
    <button class='artwork-filter' mat-raised-button routerLinkActive="active" routerLink="/today">Today</button>
    <button class='artist-filter' mat-raised-button  routerLinkActive="active" routerLink="/week">Week</button>
    <button mat-raised-button routerLink="/month">Month</button>
    <button mat-raised-button routerLink="/views">Views</button>
    <button mat-raised-button routerLink="/likes">Likes</button>
</div>
<hr class='artropy-hr'>
<div class="trending-page">
    <router-outlet></router-outlet>
</div>