<div>
    <button class='artwork-filter' mat-raised-button routerLinkActive="active">Today</button>
    <button class='artist-filter' mat-raised-button  routerLinkActive="active">Week</button>
    <button mat-raised-button color="warn">Month</button>
    |
    <button mat-raised-button color="warn">Views</button>
    <button mat-raised-button color="warn">Likes</button>
</div>
<hr class='artropy-hr'>
<div class="trending-page">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Artist</mat-card-title>
            <mat-card-subtitle>Studio</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Studio Description
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Artist</mat-card-title>
            <mat-card-subtitle>Studio</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Studio Description
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>