<h1>Originals</h1>
<div class="row">
    <div *ngFor="let item of originals" class="col-md-2">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{item.imageName}}</mat-card-title>
                <mat-card-subtitle>{{item.artistName}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img src='{{item.imageSrc}}'>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>
</div>