@import '../../assets/responsive-theme/artropy-main-theme.scss';

@media (min-width: 500px) {
    .grid-originals {
        display: grid;
        justify-content: stretch;	
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        grid-row-gap: 5px;
        grid-template-rows: auto;
        grid-template-areas: none;
        grid-row-gap: 30px;
        grid-column-gap: 5px;
        // grid-gap: 10px;
        align-items: stretch;
    }
}



// @media (min-width: 650px) {
//     .grid-originals {
//         display: grid;
//         justify-content: stretch;	
//         grid-template-columns: repeat(12, 1fr);
//         grid-row-gap: 5px;
//         grid-template-rows: auto;
//         grid-template-areas: none;
//         grid-auto-flow: column;
//     }
// }

// .item-original {
//     grid-area: original;
//     grid-column-start: 1;
//     grid-column-end: 1;
// }

// .item-original2 {
//     grid-area: original2;
//     grid-column-start: 1;
//     grid-column-end: 1;
// }

.img-card{
    width:100%;
    height:auto;
}

.mat-card{
    padding: 10px !important;
    align-self: stretch;
    justify-self: stretch;
    height:100%;
}

// mat-card{
//     height:100%;
// }