<div>
    <h1>Originals</h1>

    <div class="row no-gutters" style="display:flex;">
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <a routerLink="/image/Ruby-Perez/Rain" routerLinkActive="active" class="card-link">Ruby Perez</a>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <a href="#" class="card-link">Artist</a>|
                        <a href="#" class="card-link">Category</a>
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <img src='../assets/images/imageOne.jpg' class='image-fluid'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <img src='../assets/images/imageTwo.jpg'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <img src='../assets/images/imageThree.jpg'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img src='../assets/images/imageFour.jpg'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <img src='../assets/images/imageOne.jpg' class='image-fluid'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <img src='../assets/images/imageTwo.jpg'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <img src='../assets/images/imageThree.jpg'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img src='../assets/images/imageFour.jpg'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <img src='../assets/images/imageOne.jpg' class='image-fluid'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <img src='../assets/images/imageTwo.jpg'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <img src='../assets/images/imageThree.jpg'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img src='../assets/images/imageFour.jpg'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <img src='../assets/images/imageOne.jpg' class='image-fluid'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <img src='../assets/images/imageTwo.jpg'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <img src='../assets/images/imageThree.jpg'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img src='../assets/images/imageFour.jpg'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <img src='../assets/images/imageOne.jpg' class='image-fluid'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <img src='../assets/images/imageTwo.jpg'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <img src='../assets/images/imageThree.jpg'>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-xl-2  col-md-4 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist | Category</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img src='../assets/images/imageFour.jpg'>
                </mat-card-content>
            </mat-card>
        </div>

    </div>