/*
.row{
    margin-bottom: 15px;
}

*/

.example-card {
    /* flex-direction: column; */
    /* background-color:black; */

}
.img-card{
     flex-direction: column; 
     height:100%;
     position: relative;
     flex-grow: 1;
}

.image-col{
    width:25%;
    flex: 1 1 auto;
    float:left;
}

.example-card{
    height:100%;
}

.mat-card{
    padding:0px !important; 
    margin-top: 0px;
    margin-bottom:0px;
}

  div[class^="col-"] {
    padding-right: 0px !important;
    padding-left: 0px !important;
    height:100% !important;
}



.col-md-2{

    align-self:flex-start;
        
}