<div class='grid-originals'>
    <div class='grid-originals-results'>
        <div class="img-fluid" *ngFor="let original of originals">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <a routerLink="/image/{{original.imageName}}/{{original.artistName}" routerLinkActive="active" class="card-link">{{original.imageName}}</a>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <a routerLink="/image/{{original.artistName}}" routerLinkActive="active" class="card-link">{{original.artistName}}</a>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <img class='img-fluid' src='{{original.imageSource}}'>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>