@import '../../assets/responsive-theme/artropy-main-theme.scss';

@media (min-width: 500px) {
    .grid-originals-results {
        display: grid;
        justify-content: stretch;	
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        grid-template-rows: auto;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
        align-items: stretch;
    }
}

@media (min-width: 500px) {
    .grid-originals-featured {
        display: grid;
        justify-content: stretch;	
        grid-template-columns: 100%;
        grid-template-rows: 200px;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
        align-items: stretch;
    }
}

img{
    display:block;

}

.img-card{
    width:100%;
    height:auto;
    display:block;
}

.mat-card{
    padding: 10px !important;
    height:100%;
}
