
.row{
    margin-bottom: 15px;
}


.image-fluid {

    height:auto;
    width:100%;
    /* min-height:100%; */
}

.example-card{
    /* height:350px */
}

.mat-card{
    padding:6px !important; 
    margin-top: 5px;
    margin-bottom:5px;
}

  div[class^="col-"] {
    padding-right: 5px !important;
    padding-left: 5px !important;
    height:100% !important;
}



.col-md-2{

    align-self:flex-start;
        
}