<div>
  <h1>reimaginations</h1>

  <div class="row">
      <div class="col-md-2">
          <mat-card class="example-card">
              <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Image Name</mat-card-title>
                  <mat-card-subtitle>Artist</mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>
                  <p>
                      Picture Content
                  </p>
              </mat-card-content>
              <mat-card-actions>
                  
                  
              </mat-card-actions>
          </mat-card>
      </div>
      <div class="col-md-2">
              <mat-card class="example-card">
                      <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Image Name</mat-card-title>
                          <mat-card-subtitle>Artist</mat-card-subtitle>
                      </mat-card-header>
      
                      <mat-card-content>
                          <p>
                              Picture Content
                          </p>
                      </mat-card-content>
                      <mat-card-actions>
                          
                          
                      </mat-card-actions>
                  </mat-card>
      </div>
      <div class="col-md-2">
              <mat-card class="example-card">
                      <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Image Name</mat-card-title>
                          <mat-card-subtitle>Artist</mat-card-subtitle>
                      </mat-card-header>
      
                      <mat-card-content>
                          <p>
                              Picture Content
                          </p>
                      </mat-card-content>
                      <mat-card-actions>
                          
                          
                      </mat-card-actions>
                  </mat-card>
      </div>
      <div class="col-md-2">
        <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Image Name</mat-card-title>
                    <mat-card-subtitle>Artist</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        Picture Content
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    
                    
                </mat-card-actions>
            </mat-card>
</div>
<div class="col-md-2">
  <mat-card class="example-card">
          <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Image Name</mat-card-title>
              <mat-card-subtitle>Artist</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
              <p>
                  Picture Content
              </p>
          </mat-card-content>
          <mat-card-actions>
              
              
          </mat-card-actions>
      </mat-card>
</div>
<div class="col-md-2">
  <mat-card class="example-card">
          <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Image Name</mat-card-title>
              <mat-card-subtitle>Artist</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
              <p>
                  Picture Content
              </p>
          </mat-card-content>
          <mat-card-actions>
              
              
          </mat-card-actions>
      </mat-card>
</div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <mat-card class="example-card">
              <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Image Name</mat-card-title>
                  <mat-card-subtitle>Artist</mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>
                  <p>
                      Picture Content
                  </p>
              </mat-card-content>
              <mat-card-actions>
                  
                  
              </mat-card-actions>
          </mat-card>
</div>      <div class="col-md-2">
  <mat-card class="example-card">
          <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Image Name</mat-card-title>
              <mat-card-subtitle>Artist</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
              <p>
                  Picture Content
              </p>
          </mat-card-content>
          <mat-card-actions>
              
              
          </mat-card-actions>
      </mat-card>
</div>      <div class="col-md-2">
  <mat-card class="example-card">
          <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Image Name</mat-card-title>
              <mat-card-subtitle>Artist</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
              <p>
                  Picture Content
              </p>
          </mat-card-content>
          <mat-card-actions>
              
              
          </mat-card-actions>
      </mat-card>
</div>      <div class="col-md-2">
  <mat-card class="example-card">
          <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Image Name</mat-card-title>
              <mat-card-subtitle>Artist</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
              <p>
                  Picture Content
              </p>
          </mat-card-content>
          <mat-card-actions>
              
              
          </mat-card-actions>
      </mat-card>
</div>      <div class="col-md-2">
  <mat-card class="example-card">
          <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Image Name</mat-card-title>
              <mat-card-subtitle>Artist</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
              <p>
                  Picture Content
              </p>
          </mat-card-content>
          <mat-card-actions>
              
              
          </mat-card-actions>
      </mat-card>
</div>      <div class="col-md-2">
  <mat-card class="example-card">
          <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Image Name</mat-card-title>
              <mat-card-subtitle>Artist</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
              <p>
                  Picture Content
              </p>
          </mat-card-content>
          <mat-card-actions>
              
              
          </mat-card-actions>
      </mat-card>
</div>
</div>