.history-page{
  grid-area: featured;
  display: grid;
  justify-content: stretch;	
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  align-items: stretch;
  padding-top:40px;
}