<h4>History</h4>
<div class='history-header'>
    <button class='artwork-filter' mat-button routerLink="/home" routerLinkActive="active">Artwork</button>
    <button class='artist-filter' mat-button routerLink="/home" routerLinkActive="active">Artists</button>
    <mat-form-field>
            <input matInput >
            <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
            <mat-datepicker></mat-datepicker>
    </mat-form-field>
</div>
<div class='history-page'>
    <mat-card class="history-card">
        
    </mat-card>
</div>
