<div class='history-header'>
    <button class='artwork-filter' mat-raised-button routerLink="/history-artwork" routerLinkActive="active">Artwork</button>
    <button class='artist-filter' mat-raised-button routerLink="/history-artists" routerLinkActive="active">Artists</button>
    <button mat-raised-button color="warn" routerLink="/history-search">Search History</button>
    <button mat-raised-button routerLink="/history-comments">Comments</button>
</div>
<hr class='artropy-hr'>
<div class='history-options-container'>
    <button mat-raised-button color="warn">Clear History</button>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Search" value="">
        <mat-icon matSuffix></mat-icon>
    </mat-form-field>
</div>
<div class='history-page'>
    <mat-card class="history-card"></mat-card>
</div>